@font-face {
    font-family: 'Blackwood Castle';
    src: url('../fonts/blackwood-castle/blacc___-webfont.woff2') format('woff2'),
        url('../fonts/blackwood-castle/blacc___-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Blackwood Shadow';
    src: url('../fonts/blackwood-castle/blaccs__-webfont.woff2') format('woff2'),
        url('../fonts/blackwood-castle/blaccs__-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Smallburg';
    src: url('../fonts/smallburg/smallburg-Regular.woff') format('woff'),
        url('../fonts/smallburg/smallburg-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

:root {
    color: white;
}

body {
    /*defaults*/
    margin: 0;
}

header {
    padding-top: 1.5rem;
}

header, main {
    padding-left: 2rem;
}

h1 {
    font-family: 'Blackwood Castle', serif;
    font-size: 5rem;
    margin: 0;
    text-shadow: 5px 5px black;
}

h2 {
    font-family: 'Smallburg', sans-serif;
    font-size: 1.5rem;
}

#content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    background-image: url('../images/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}