@font-face {
    font-family: 'Blackwood Castle';
    src: url('../fonts/blackwood-castle/blacc___-webfont.woff2') format('woff2'),
        url('../fonts/blackwood-castle/blacc___-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Blackwood Shadow';
    src: url('../fonts/blackwood-castle/blaccs__-webfont.woff2') format('woff2'),
        url('../fonts/blackwood-castle/blaccs__-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Smallburg';
    src: url('../fonts/smallburg/smallburg-Regular.woff') format('woff'),
        url('../fonts/smallburg/smallburg-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    /* colours */
    --parchment: #d7c9aa;
    --parchment-darker: #C4AF82;
    --bistre: #2A1507;
    --pale-red: #b45763;
    --upsdell-red: #a71125;
    --bright-yellow-crayola: #FFAB25;
    --slimy-green: #478E02;

    /* defaults for fonts */
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

body {
    margin: 0;

    width: 100%;
    height: 100%;

    background-image: url('../images/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0 2rem 2rem 2rem;

    box-sizing: border-box;
}


header {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main {
    min-width: 760px;

}

h1 {
    font-family: 'Blackwood Castle', serif;
    font-size: 4rem;
    color: white;
    text-shadow: 5px 5px black;

    margin: 0;
}

h2 {
    font-family: 'Smallburg', sans-serif;
    font-size: 1.5rem;

    color: var(--bistre);
    margin: 0;
}

.links-container {
    display: flex;
    justify-content: space-around;
    gap: 1vw;

    padding-left: 0;
    padding-right: 2rem;
    margin: 0;

    list-style: none;
}

.links-container li {
    font-size: 1.25rem;

    text-align: center;
    color: var(--bistre);

    padding: 0.5rem 1rem;

    width: 88px;

    background-color: var(--parchment-darker);
    
    /*border: 3px inset var(--bistre);*/
    /*border-bottom: none;*/
    border-radius: 10px 10px 0 0;
}

.links-container li.selected {
    background-color: var(--parchment);
}

#page-container {
    background-color: var(--parchment);
    border-radius: 20px;

    width: 100%;
    min-height: 85vh;

    box-sizing: border-box;
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.goblins {
    display: flex;

    padding: 2vw;
    
    justify-content: center;
    gap: 2vw;
}

.goblin {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 2rem;

    font-size: 24px;

    background-color: var(--upsdell-red);
    border-radius: 5px;
    border: 2px outset var(--pale-red);

    padding: 1rem;
}

.goblin-img {
    background-size: cover;
    background-repeat: none;
    background-position: center;

    border-radius: 50%;
    border-style: outset;
    border-color: var(--bright-yellow-crayola);

    min-height: 20vh;
    min-width: 20vh;
}

.goblin-img.feast {
    background-image: url('../images/ai-goblin-tavern.png');
}

.goblin-img.drink {
    background-image: url('../images/ai-goblin-tavern-4.png');
}

.goblin-img.play {
    background-image: url('../images/goblin-tavern-2.png');
}

.tagline {
    display: grid;
    align-items: center;
    justify-items: center;

    font-family: 'Smallburg', sans-serif;
    font-size: 1.5rem;

    color: var(--bistre);

    padding-top: 3rem;
}

.card-container {
    padding: 1rem;

    background-color: var(--bistre);

    border-radius: 10px;

    min-height: 300px;
    max-width: 1080px;
}

.card {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 60% 30%; 
    gap: 1rem;

    height: 90%;
}

.card h3 {
    grid-column: 1 / -1;
    
    margin: 0;

    font-family: 'Smallburg', sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: var(--bright-yellow-crayola);
    text-shadow: 2px 2px black;
}

.card .card-img {
    grid-row: 2 / -1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 5px;

    height: 100%;
}

.pub .card-img {
    background-position: top center;
    background-image: url('../images/Medieval_Dinner_\(82409393\).jpeg');
}

.events .card-img {
    background-image: url('../images/medieval-kitchen.jpg');
}

.card p {
    margin: 0;

    font-size: 20px;
    color: var(--parchment);
}

.card button {
    grid-column: 2 / -1;

    height: fit-content;
    width: 25%;

    padding: 0.5rem;

    align-self: center;
    justify-self: center;

    background-color: var(--slimy-green);
    border-radius: 10px;
    border: 2px outset var(--bright-yellow-crayola);

    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#map-container {
    margin-top: 5vh;
}

.map-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    padding: 2rem;


    gap: 1rem;

    min-height: 25vh;
}

.map-info-grid p {
    color: var(--bistre);
    margin: 0;
}

.map-info-grid h3 {
    color: var(--upsdell-red);
    margin: 0;
}

#map-img {
    grid-row: 1 / 3;

    background-image: url('../images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;

    border: 5px outset var(--upsdell-red);
    border-radius: 5px;
}

.contact-container {
    display: grid;
}

.contact-card {
    align-self: end;
    justify-self: center;
    margin-top: 5vh;
    
    background-color: var(--bistre);

    border-radius: 10px;
    box-shadow: 0 0 16px 5px var(--parchment-darker);

    display: flex;
    flex-direction: column;

    gap: 1rem;

    align-items: center;

    padding: 2rem 3rem;
    max-width: 30vw;
}

.contact-card h2 {
    color: var(--bright-yellow-crayola);
    text-shadow: 2px 2px black;
}

.contact-card button {
    background-color: var(--slimy-green);
    border-radius: 10px;
    border: 2px outset var(--bright-yellow-crayola);

    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: bold;
    color: white;

    padding: 0.5rem 1rem;
}

#content {
    
    display: flex;
    flex-direction: column;

    max-width: 1880px;
}